.centrar{
    text-align: center;
    
}

.justificado{
    text-align: justify;
    margin: 30px auto; 
    width: 80%; 
}

.li{
    list-style-type: none;
}
.esquinaup{
    text-align: right;
}
.article  {
    width: 200px; 
    height: auto; 
    float: left; 
    margin-right: 20px; 
    margin-top: 10px;
    
    
}

.centrar2{
    flex-grow: 1; 
    text-align: center; 
    text-align: justify;
      
}
.contenedor {
    display: flex; 
    align-items: center; 
}

.articleg{
    width: 400px; 
    height: auto; 
    float: left; 
    margin-right: 20px; 
    margin-top: 10px;
}





/*          */




.centrar1{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display:list-item;

}

.lista {
   
    text-align: center;
    list-style-position: inside;
    justify-content: center;
    align-items: center;
    margin:auto;
  }
  .separar{
    margin-top: 2rem;
  }




.espacio {
    margin-top: 2rem; 
}

h1 {
    margin-top: 30px;
}

.imagen2  {
    width: 200px; 
    height: auto; 
    float:initial; 

    margin-top: 10px;


}
.imagen-izquierda {
    float: left;
    margin-right: 20px; 
}


/*           */






.imagen-perro {
    width: 100%;
    height: auto;
    max-width: 250px;
    display: block;
    float: left;
    margin-right: 20px;
}

.imagen-perro2 {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    float: left;
    margin-right: 20px;
}


.contenedor-imagen {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
}


.centrar3{
    flex-grow: 1; 
    text-align: center; 
    text-align: justify;

}


/*      Diseño        */

body {
    background-color: rgb(41,41,41);
    font-family: sans-serif;
    color: white;
}

.blanco {
    color: gray;
    text-decoration: none;
    font-size: 20px;
}

.Contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.center-menu {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

.center-text {
    text-align: center;
    margin: 1.5rem;
}

/* Hover */
a:hover {
    color:rgb(253, 254, 254 );
}

/* Dimensiones */
.Dimension-15 {
    height: 15%;
    width: 15%;
}

.Dimension-80 {
    height: 25%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dimension-5 {
    height: 5%;
    width: 5%;
}

/* Colores */
.colores {
    height: 25vh; 
    width: 25%;
    padding: 1rem;
    overflow: hidden;
}
.colores:hover{
    overflow:auto; 
    box-sizing: border-box;
}
.colores h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.colores p {
    font-size: 1rem;
    margin: 0;
}
.celeste {
    background-color: rgb(52, 152, 219);
}

.amarillo {
    background-color: rgb(244, 208, 63);
}

.naranjo {
    background-color: rgb(230, 126, 34);
}

.rojo {
    background-color: rgb(192, 57, 43);
}


